# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Entornos virtuales
venv/
env/
ENV/


# Base de datos
*.db
*.db-journal

# Imágenes generadas
qr_images/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log


#Particulares
qr_images
QRGeneratorPro.spec